body{
    font-family: 'Titillium Web',sans-serif; 
}

.home{
    background-color: #87509c;
    padding-bottom: 145px;
    padding-top: 55px
}

.logo{
    float: left;
    margin-right: 10px;
}

#bienvenida{
    margin-top: 143px;
}

.services{
    background-color: #17c2a4;
    padding-top:118px; 
    padding-bottom: 130px;
}

.team{
    background-color: #e7f1f8;
    padding-top:118px;
    padding-bottom: 130px; 
    color: #3c4761;
}

.skills{
    background-color: #ffffff;
    padding-top:118px; 
    padding-bottom: 130px;
    color: #3c4761;
}

.portfolio{
    background-color: #ffdd99;
    padding-top:118px; 
    padding-bottom: 110px;
    color: #3c4761;
}

.testimonials{
    background-color: #d74680;
    padding-top:118px; 
    padding-bottom: 130px;
}

.contact{
    background-color: #3c5499;
    padding-top:118px; 
    padding-bottom: 115px;
}

footer{
    height: 112px;
    background-color: #344b8e;
    font-size: 24px;
    line-height: 30px;
    font-family: "Titillium Web";
    font-weight: 600;
    padding:40px;
}


.boton-work{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #eb7d4b;
    border-style: hidden;
    color: white
}

.boton-load{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #17c2a4;
    border-style: hidden;
    color: white;
}

.boton-send{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #30bae7;
    border-style: hidden;
    color: white;
}


.caja-texto{
    width: 300px;
    height: 56px;
    background-color: #273a71;
    color: white;
    border-radius: 4px;
    border-style: hidden;
    font-size: 18px;
    line-height: 18px;
    font-family: "Titillium Web";
    font-weight: 400;
}

#text-area{
    width: 95%;
    height: 200px;
    border-radius: 4px;
    background-color: #273a71;
    border-style: hidden;
    color: white;
}

a.nav-principal{
    border-radius: 4px;
    color: white;
}
a.nav-principal:hover{
    background-color: #643a79;  
}

a.nav-principal:active{
    background-color: #643a79;  
}

a.nav-portfolio{
    width: 90px;
    height: 38px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.0784313725490196);
    color:black;
    padding: 2px 12px;
    text-decoration: unset;
    margin: 3px;
}

a.nav-portfolio:hover{
    background: #ffffff;
}

.margenb-80{
    margin-bottom: 80px;
}
.margenb-60{
    margin-bottom: 60px;
}

.margenb-40{
    margin-bottom: 40px;
}

.margenb-30{
    margin-bottom: 30px;
}

hr{
    width: 87px;
    height: 4px;
    border-style: hidden;
}

#hr-services{
    background-color: teal;
}

#hr-team{
    background-color: #bdd1df
}

#hr-skills{
    background-color: #dfe8ed;
}

#hr-portfolio{
    background-color: #e5c37f;
}

#hr-testimonials{
    background-color: palevioletred;
}

#hr-contact{
    background-color: #273a71;
}

.img-circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #878787;
}
    
.img-circle-mini{
    width: 96px;
    height: 96px;
    border-radius: 48px;
    background-color: #787878;
    float: left;
}

@media (max-width: 600px) {
    .imagen{
        width: 100%;
    }
}
