.home{
    height: 596px;
    background-color: #87509c;
}

.logo{
    width: 116px;
    height: 36px;
    
}

.services{
    height: 747px;
    background-color: #17c2a4;
}

.team{
    height: 914px;
    background-color: #e7f1f8;
}

.skills{
    height: 655px;
    background-color: #ffffff;
}

.portfolio{
    height: 1423px;
    background-color: #ffdd99;
}

.testimonials{
    height: 894px;
    background-color: #d74680;
}

.boton{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #eb7d4b;
    border: 1px solid  #eb7d4b;
}

button{
    width: 116px;
    height: 36px;
    border-radius: 4px;
    background-color: #ffffff;
    color: white;
}


.contact{
    height: 819px;
    background-color: #3c5499;
}

footer{
    height: 112px;
    background-color: #344b8e;
}.home{
    height: 596px;
    background-color: #87509c;
}

.logo{
    width: 116px;
    height: 36px;
    
}

.services{
    height: 747px;
    background-color: #17c2a4;
}

.team{
    height: 914px;
    background-color: #e7f1f8;
}

.skills{
    height: 655px;
    background-color: #ffffff;
}

.portfolio{
    height: 1423px;
    background-color: #ffdd99;
}

.testimonials{
    height: 894px;
    background-color: #d74680;
}

.boton{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #eb7d4b;
    border: 1px solid  #eb7d4b;
}

button{
    width: 116px;
    height: 36px;
    border-radius: 4px;
    background-color: #ffffff;
    color: white;
}


.contact{
    height: 819px;
    background-color: #3c5499;
}

footer{
    height: 112px;
    background-color: #344b8e;
}