.home{
    height: 596px;
    background-color: #87509c;
}

.logo{
    width: 116px;
    height: 36px;
    
}

.services{
    height: 747px;
    background-color: #17c2a4;
}

.team{
    height: 914px;
    background-color: #e7f1f8;
}

.skills{
    height: 655px;
    background-color: #ffffff;
}

.portfolio{
    height: 1423px;
    background-color: #ffdd99;
}

.testimonials{
    height: 894px;
    background-color: #d74680;
}

.boton-work{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #eb7d4b;
    border: 1px solid  #eb7d4b;
    color: white
}

.boton-send{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #30bae7;
    border-style: hidden;
    color: white;
}

.contact{
    height: 819px;
    background-color: #3c5499;
}

footer{
    height: 112px;
    background-color: #344b8e;
}.home{
    height: 596px;
    background-color: #87509c;
}

.logo{
    width: 116px;
    height: 36px;
    
}

.services{
    height: 747px;
    background-color: #17c2a4;
}

.team{
    height: 914px;
    background-color: #e7f1f8;
}

.skills{
    height: 655px;
    background-color: #ffffff;
}

.portfolio{
    height: 1423px;
    background-color: #ffdd99;
}

.testimonials{
    height: 894px;
    background-color: #d74680;
}

.boton{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #eb7d4b;
    border: 1px solid  #eb7d4b;
}






.contact{
    height: 819px;
    background-color: #3c5499;
}

footer{
    height: 112px;
    background-color: #344b8e;
}

.caja-texto{
    width: 414px;
    height: 56px;
    background-color: #273a71;
    color: white;
    border-radius: 4px;
    border-style: hidden;
    font-size: 18px;
    line-height: 18px;
    font-family: "Titillium Web";
    font-weight: 400;
}

#text-area{
    width: 860px;
    height: 200px;
    border-radius: 4px;
    background-color: #273a71;
    border-style: hidden;
    color: white;
}